</div>Bienvenido {{email}}<div>
    <h1>Productos</h1>
    <br>
        {{#if totalDocs}}
     Listado de productos
            {{#each payload}}
    <ul>
        <li>{{this.title}}-Precio: {{this.price}}</li>
        <a href="/product/{{this._id}}">Ver detalles</a>
        <button onclick="addToCart(`{{this._id}}`)">Agregar al carrito</button>
    </ul>
    {{/each}}    
    <div>

        {{#if hasPrevPage}}
            <a href={{prevlink}}>  << Anterior </a>
        {{/if}}

{{this.page}}

        {{#if nextPage}}
            <a href={{nextLink}}> Siguiente >> </a>
        {{/if}}
</div>
{{else}}
<p>No hay productos</p>
{{/if}}
<script src="/js/products.js"></script>
    
